body,
html {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: var(--base-100);
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --base: #555;
  --base-100: #f1f1f1;
  --base-400: #555;
  --base-800: #000;
  --orange: #faa200;
  --orange-100: #f8ddbb;
  --orange-400: #ffa84b;
  --orange-800: #b55608;
  --blue: #0a61ae;
  --blue-100: #e2f8ff;
  --blue-400: #61dafb;
  --blue-800: #0a61ae;
}

.iphoneframe {
  box-sizing: border-box;
  width: 300px;
  height: 600px;
  border-radius: 40px;
  border: 3px solid var(--orange-400);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;

  .homebutton {
    position: absolute;
    background-color: var(--orange-100);
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;

    button {
      margin: 10px 0px;
      height: 40px;
      width: 40px;
      border-radius: 100%;
      background-color: var(--orange-100);
      border-color: var(--base-800);
    }
  }

  .top {
    background-color: var(--orange-100);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: Center;

    .camera {
      width: 5px;
      height: 5px;
      background-color: black;
      border-radius: 100%;
      margin-left: 40%;
    }

    .line {
      margin-left: 10%;
      width: 30px;
      height: 2px;
      background-color: black;
      border-radius: 10px;
    }
  }

  .content {
    background-image: url("https://www.iclarified.com/images/news/90816/435428/435428-640.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: auto;
    border-left: 8px solid var(--orange-100);
    border-right: 8px solid var(--orange-100);
    box-sizing: border-box;

    .grid-container {
      padding: 10px;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      /* Adjust the number of columns as needed */
      grid-gap: 20px;

      /* Adjust the gap between columns as needed */
      :hover {
        background-color: rgba(118, 118, 118, 0.3);
      }

      .app {
        background-color: none;
        border-radius: 10px;
        padding: 5px;
        align-items: Center;

        .appname {
          font-size: 12px;
          color: var(--base-100);
        }
      }
    }
  }
}